<template name="recoverPwd">
    <div class="homeDivCmn formBox">
        <div>
            <form class="pure-form pure-form-aligned margin1em">
                <h3 class="content-subhead">Recover Password</h3>
                <hr />
                <fieldset class="pure-group">
                    <input id="email" type="email" placeholder="Email Address" class="full-width"
                        autocomplete="false" required="true" />
                </fieldset>
                <fieldset class="pure-group">
                    <button id="recoverpwd" class="pure-button pure-button-primary">Recover Password!</button>
                </fieldset>
                <span id="msg" class="error"></span>
            </form>
        </div>
    </div>
    <div class="mainDiv"></div>
</template>